.second-section {
  padding: 0.8rem;
  width: 99%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 10px;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  @media (max-width: 405px) {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
  .link {
    background-color: white;
    width: 100%;
    height: 23vh;
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    box-shadow: rgba(19, 19, 19, 0.291) 0px 1px 4px;
    transition: 0.3s ease-in-out;
  }
  .link:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.734) 0px 1px 3px -1px;
    color: red;
    transition: 0.5s ease-in-out;
  }
  .linka {
    /* width: 38%; */
    height: 60%;
  }
  .linka1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .linkb {
    background-color: white;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .Standard {
    font-weight: normal;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.669);
    transition: 0.5s ease-in-out;
  }
  .Standard:hover {
    color: yellow;
  }
  .amount {
    font-weight: bolder;
    text-decoration: line-through;
    font-size: 0.9rem;
  }
  .amount1 {
    font-weight: bolder;
    font-size: 1rem;
  }
  .amount2 {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.669);
    font-size: 0.9rem;
  }
  .amount3 {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.669);
    font-size: 0.9rem;
  }
  .amount4 {
    background-color: #ffd8d8;
    color: #94004f;
    border-radius: 0.5rem;
  }
  .amount5 {
    font-size: 0.8rem;
    color: #207f55;
    font-weight: bolder;
  }
  .amount2a {
    text-decoration: line-through;
    color: #207f55;
    font-weight: bolder;
  }
}
