.shopnow {
  // background-color: aqua;
  width: 100%;
  padding: 0.4rem;
  display: flex;
  .bigdeal {
    width: 67%;
    height: 70vh;
    display: flex;
    padding: 0.5rem;
    @media (max-width: 980px) {
      width: 100%;
    }
  }
  .Deals {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}
.granier {
  width: 33%;
  width: 70vh;
  display: flex;
  gap: 0.3rem;
  padding: 0.5rem;
  @media (max-width: 980px) {
    display: none;
  }
}

.care {
  border-radius: 0.5rem;
  width: 200px;
  height: 200px;
}
