.shopnow {
  // background-color: aqua;
  // width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  .bigdeal {
    width: 67%;
    @media (max-width: 980px) {
      width: 100%;
    }

    display: flex;
    // @media (max-width: 980px) {
    //   width: 100%;
    // }
  }
  .Deals {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  @media (max-width: 980px) {
    width: 100%;
  }
}

.granier {
  width: 33%;
  display: flex;
  gap: 0.4rem;
  @media (max-width: 980px) {
    display: none;
  }
}

.care {
  border-radius: 0.5rem;
  width: 200px;
  height: 180px;
}
