.sub {
  background-color: #ed017f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}
.konga {
  width: 10%;
  @media (max-width: 948px) {
    display: none;
  }
}
.store {
  color: white;
  font-size: 0.9rem;
  @media (max-width: 948px) {
    display: none;
  }
}

.store:hover {
  background-color: white;
  color: rgb(244, 13, 248);
  width: 10%;
  transition: 0.5s ease-out;
  text-align: center;
  @media (max-width: 948px) {
    display: none;
  }
}
.sell {
  color: white;
  font-size: 0.9rem;
  @media (max-width: 948px) {
    display: none;
  }
}
.sell:hover {
  background-color: white;
  color: rgb(244, 13, 248);
  width: 10%;
  transition: 0.5s ease-out;
  text-align: center;
  @media (max-width: 948px) {
    display: none;
  }
}
form {
  background-color: rgb(217, 151, 18);
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.4rem;
  @media (max-width: 948px) {
    width: 80%;
    background-color: white;
  }
}
input {
  background-color: white;
  color: grey;
  width: 90%;
  outline: none;
  border: none;
  padding: 0.6rem;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
.bx-search {
  color: white;
  font-size: 0.9rem;
  margin: auto;
  @media (max-width: 948px) {
    color: gray;
  }
}
.help {
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  @media (max-width: 948px) {
    display: none;
  }
}
.help:hover {
  background-color: white;
  color: rgb(244, 13, 248);
  width: 10%;
  transition: 0.5s ease-out;
  text-align: center;
  @media (max-width: 948px) {
    display: none;
  }
}
.bx-question-mark {
  background-color: rgba(240, 248, 255, 0.344);
  padding: 0.3rem;
  color: white;
  font-weight: bolder;
  border-radius: 50%;
  @media (max-width: 948px) {
    display: none;
  }
}
.login {
  color: white;
  @media (max-width: 948px) {
    display: none;
  }
}
.login:hover {
  background-color: white;
  color: rgb(244, 13, 248);
  width: 10%;
  transition: 0.5s ease-out;
  text-align: center;
  @media (max-width: 948px) {
    display: none;
  }
}
.Cart {
  background-color: #33b27b;
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  color: white;
  font-size: 0.9rem;
  @media (max-width: 948px) {
    display: none;
  }
  .o {
    background-color: aliceblue;
    color: black;
    padding: 0.2rem;
    border-radius: 0.3rem;
  }
}
.chosen {
  display: none;
  @media (max-width: 948px) {
    display: block;
    display: flex;
    color: white;
    font-size: 1.5rem;
  }
}
