.third-section {
  background-color: #ffd8d8;
  display: flex;
  gap: 1.5rem;
  padding: 0.6rem;
  // width: 98.8%;
  // margin: auto;
  align-items: center;
  padding: 0.8rem;
  position: relative;
  margin-top: 1.2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.alarm {
  background-color: rgba(251, 146, 163, 0.704);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: absolute;
  left: 80%;
  @media (max-width: 948px) {
    display: none;
  }
}
.thirda {
  font-size: 0.9rem;
  color: #9a054d;
  font-weight: bold;
}
.bx-alarm-exclamation {
  color: red;
}
.alarma {
  color: #9a054d;
}
