@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 95%;
  min-height: 100vh;
  background-color: #f2f2f2;
  margin: auto;
}

.nav {
  width: 100%;
}

.promotion {
  width: 100%;
  display: block;
}

.travel {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 0.6rem;
}
.travel .travel1 {
  width: 8%;
}
.travel .travel2 {
  width: 7%;
}

.sub {
  background-color: #ed017f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}

.konga {
  width: 10%;
}
@media (max-width: 948px) {
  .konga {
    display: none;
  }
}

.store {
  color: white;
  font-size: 0.9rem;
}
@media (max-width: 948px) {
  .store {
    display: none;
  }
}

.store:hover {
  background-color: white;
  color: rgb(244, 13, 248);
  width: 10%;
  transition: 0.5s ease-out;
  text-align: center;
}
@media (max-width: 948px) {
  .store:hover {
    display: none;
  }
}

.sell {
  color: white;
  font-size: 0.9rem;
}
@media (max-width: 948px) {
  .sell {
    display: none;
  }
}

.sell:hover {
  background-color: white;
  color: rgb(244, 13, 248);
  width: 10%;
  transition: 0.5s ease-out;
  text-align: center;
}
@media (max-width: 948px) {
  .sell:hover {
    display: none;
  }
}

form {
  background-color: rgb(217, 151, 18);
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.4rem;
}
@media (max-width: 948px) {
  form {
    width: 80%;
    background-color: white;
  }
}

input {
  background-color: white;
  color: grey;
  width: 90%;
  outline: none;
  border: none;
  padding: 0.6rem;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.bx-search {
  color: white;
  font-size: 0.9rem;
  margin: auto;
}
@media (max-width: 948px) {
  .bx-search {
    color: gray;
  }
}

.help {
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
@media (max-width: 948px) {
  .help {
    display: none;
  }
}

.help:hover {
  background-color: white;
  color: rgb(244, 13, 248);
  width: 10%;
  transition: 0.5s ease-out;
  text-align: center;
}
@media (max-width: 948px) {
  .help:hover {
    display: none;
  }
}

.bx-question-mark {
  background-color: rgba(240, 248, 255, 0.344);
  padding: 0.3rem;
  color: white;
  font-weight: bolder;
  border-radius: 50%;
}
@media (max-width: 948px) {
  .bx-question-mark {
    display: none;
  }
}

.login {
  color: white;
}
@media (max-width: 948px) {
  .login {
    display: none;
  }
}

.login:hover {
  background-color: white;
  color: rgb(244, 13, 248);
  width: 10%;
  transition: 0.5s ease-out;
  text-align: center;
}
@media (max-width: 948px) {
  .login:hover {
    display: none;
  }
}

.Cart {
  background-color: #33b27b;
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  color: white;
  font-size: 0.9rem;
}
@media (max-width: 948px) {
  .Cart {
    display: none;
  }
}
.Cart .o {
  background-color: aliceblue;
  color: black;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.chosen {
  display: none;
}
@media (max-width: 948px) {
  .chosen {
    display: block;
    display: flex;
    color: white;
    font-size: 1.5rem;
  }
}

.categories {
  background-color: #94004f;
  color: white;
  display: flex;
  padding: 0.9rem;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 100%;
}
@media (max-width: 980px) {
  .categories {
    display: none;
  }
}
.categories .all {
  font-weight: bolder;
}

.shopnow {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.shopnow .bigdeal {
  width: 67%;
  display: flex;
}
@media (max-width: 980px) {
  .shopnow .bigdeal {
    width: 100%;
  }
}
.shopnow .Deals {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
@media (max-width: 980px) {
  .shopnow {
    width: 100%;
  }
}

.granier {
  width: 33%;
  display: flex;
  gap: 0.4rem;
}
@media (max-width: 980px) {
  .granier {
    display: none;
  }
}

.care {
  border-radius: 0.5rem;
  width: 200px;
  height: 180px;
}

.blog {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding: 0.5rem;
}

.unique {
  width: 15.8%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3rem;
}

.first-section {
  background-color: #94004f;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  padding: 0.6rem;
  width: 98.8%;
  margin: auto;
  margin-top: 0.7rem;
  gap: 1rem;
  color: white;
  font-size: 1rem;
}

.firsta {
  font-size: 1.5rem;
}

.second-section {
  padding: 0.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 10px;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
@media (max-width: 405px) {
  .second-section {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}
.second-section .link {
  background-color: white;
  width: 100%;
  height: 23vh;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
  box-shadow: rgba(19, 19, 19, 0.291) 0px 1px 4px;
  transition: 0.3s ease-in-out;
}
.second-section .link:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.734) 0px 1px 3px -1px;
  color: red;
  transition: 0.5s ease-in-out;
}
.second-section .linka {
  /* width: 38%; */
  height: 60%;
}
.second-section .linka1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.second-section .linkb {
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.second-section .Standard {
  font-weight: normal;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.669);
  transition: 0.5s ease-in-out;
}
.second-section .Standard:hover {
  color: yellow;
}
.second-section .amount {
  font-weight: bolder;
  text-decoration: line-through;
  font-size: 0.9rem;
}
.second-section .amount1 {
  font-weight: bolder;
  font-size: 1rem;
}
.second-section .amount2 {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.669);
  font-size: 0.9rem;
}
.second-section .amount3 {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.669);
  font-size: 0.9rem;
}
.second-section .amount4 {
  background-color: #ffd8d8;
  color: #94004f;
  border-radius: 0.5rem;
}
.second-section .amount5 {
  font-size: 0.8rem;
  color: #207f55;
  font-weight: bolder;
}
.second-section .amount2a {
  text-decoration: line-through;
  color: #207f55;
  font-weight: bolder;
}

.third-section {
  background-color: #ffd8d8;
  display: flex;
  gap: 1.5rem;
  padding: 0.6rem;
  width: 98.8%;
  margin: auto;
  align-items: center;
  padding: 0.8rem;
  position: relative;
  margin-top: 1.2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.alarm {
  background-color: rgba(251, 146, 163, 0.704);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: absolute;
  left: 80%;
}
@media (max-width: 948px) {
  .alarm {
    display: none;
  }
}

.thirda {
  font-size: 0.9rem;
  color: #9a054d;
  font-weight: bold;
}

.bx-alarm-exclamation {
  color: red;
}

.alarma {
  color: #9a054d;
}

.fourth-section {
  padding: 0.9rem;
  width: 99%;
  background-color: white;
  margin: auto;
  display: flex;
  gap: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow-x: auto;
}

.foutha {
  background-color: white;
  display: flex;
  width: 1000px;
  min-height: 300px;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
}

.phone {
  height: 60%;
  width: 100%;
  position: relative;
}

.phone1 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.linkE {
  /* background-color: white; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.konga {
  background-color: #fcdbed;
  /* padding: 0.4rem; */
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: absolute;
  top: 0;
  width: 50%;
}

.konga1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 70%;
}

.bxs-star {
  color: #fba100;
}

.star {
  display: flex;
}

.electronics {
  margin-top: 0.8rem;
  background-color: white;
  border-radius: 0.5rem;
  padding-top: 0.8rem;
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
}

.tv {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.official {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.official .store {
  background-color: #f5a623;
  padding: 0.8rem;
  text-align: center;
}
.official .items {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 0.5rem;
}
@media (max-width: 499px) {
  .official .items {
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  }
}
.official .items .LG {
  background: plum;
  border-radius: 0.5rem;
}
.official .items .Micro {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.adaptor {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.adaptor .first {
  background-color: #ffffff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  padding: 0.6rem;
  margin-top: 0.7rem;
  gap: 1rem;
  color: black;
  font-size: 1rem;
}

.firsta {
  font-size: 1.5rem;
}

.firstb {
  color: #8b054d;
}/*# sourceMappingURL=style.css.map */